[submodule "Vendor/Box2D/Module"]
	path = Vendor/Box2D/Module
	url = https://github.com/erincatto/box2d.git
[submodule "Vendor/Doctest/Module"]
	path = Vendor/Doctest/Module
	url = https://github.com/doctest/doctest.git
